/* ---------- TAGS's ---------- */
* {
  margin: 0px;
  padding: 0px;
}

header {
  background: #0057df; /*cor do background*/
  color: #d9d9d9; /*cor da letra*/

  display: flex;
  justify-content: space-around;
  align-items: center; /* centraliza verticalmente no header */
  /* Vertical = pra baixo e pra cima*/
  /* horizontal = [ra um lado e pra o outro*/
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

main{
    display: flex;
    justify-content: center;
    padding: 10%;
    gap: 10px 10px;
}

button{
    background: #0057DF;
    color: #FFFFFF;
    border: 3px solid #fff;
    display: flex; 
    width: 20vh;
    font-weight: 700;
    height: 5vh;
    padding: 9px;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
    justify-content: center;
    
}

/* ---------- ID's ---------- */
#logo {
  font-family: "Black Han Sans", sans-serif;
  font-size: 3vw;
  font-weight: 400;
}

#link-active {
  color: #ffb800;
  border-bottom: 5px solid #ffb800;
}
/* ---------- CLASS's ---------- */
.links-menu {
  font-family: Encode Sans;
  font-size: 1.5vw;
  font-weight: 700;
  letter-spacing: 0em;

  display: flex;
  gap: 40px; /*espaço entre as palavras do header*/
}

.links-menu a {
  display: flex;
  align-items: center;
  color: #d9d9d9;
  text-decoration: none;
  height: 10vw;
}

.links-menu a:hover {
  color: #ffb800;
  border-bottom: 7px solid #ffb800;
}

.row {
    gap: 120px;
    width: 550px ;
    margin: 25px;
}

.container {
  display: flex;
  justify-content:center;
}






